.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 2rem;

    min-width: 700px;

    border-radius: 10px;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.detail-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.detail-table td:first-child {
    width: 200px;
    font-weight: bold;
}